$topnav-background-color: #212831; //#222;
:host {
  .navbar {
    background-color: $topnav-background-color;
    .navbar-brand {
      color: #fff;
      img {
        margin-right: 5px;
        height: 37px;
        width: 50px;
        background-color: white;
      }
    }
    .nav-item > a {
      color: #fff;
      span {
        &:hover {
          color: #0569f5;
        }
      }
    }
  }
  .messages {
    width: 300px;
    .media {
      border-bottom: 1px solid #ddd;
      padding: 5px 10px;
      &:last-child {
        border-bottom: none;
      }
    }
    .media-body {
      h5 {
        font-size: 13px;
        font-weight: 600;
      }
      .small {
        margin: 0;
      }
      .last {
        font-size: 12px;
        margin: 0;
      }
    }
  }
}

.rounded-circle
{
border:2px solid #5ee25e;
}



